<!--<div>-->
<!--    <h2>マイページ</h1>-->
<!--    <%= link_to "出品する", new_path %>-->
<!--    <%= link_to "お気に入りの商品", likes_path %>-->
<!--    <%= link_to "プロフィール更新", profiles_edit_path &>-->
<!--    <%= link_to "サインアウト", sign_out_path %>-->
<!--</div>-->