<div>
  <div style="background: url('<%= image_url(@user) %>'); background-position: 50%; background-size: cover;"></div>
</div>

<p><%= @user.name %>さん</p>
<p>出品数<%= @products.name.length %></p>

<%= @user.profile %>