<div>
    <div>
        <p><%= @product.name %></p>
    </div>    
    <div>
        <%= image_tag "/images/#{@product.image1}" if @product.image1.present? %>
    </div>    
    <div>
        <p>￥<%= @product.price %></p>
    </div>
    <div>
        <%= button_to "購入を確定する" %>
    </div>
</div>